# PlatformIO
.pio/
.pioenvs/
.piolibdeps/
.clang_complete
.gcc-flags.json

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Operating System Files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# Python Cache
__pycache__/
*.py[cod]

# Compilation and binary files
*.o
*.obj
*.elf
*.bin
*.hex
!firmware/*.bin

# Local Wi-Fi Credentials & Secrets
include/wifi_config.h
presets/wifi_settings.json
